:root {
    --bg: #0b0f0d;
    --dark-structural: #112019;
    --structural: #182e23;
    --light-structural: #2d5541;
    --primary: #9de7bd;
    --secondary: #e5ffb5;
    --tertiary: #efe;

    --font: "Victor Mono", monospace
}

@font-face {
    font-family: "Victor Mono";
    font-style: normal;
    src: url('/static/VictorMono-Medium.ttf');
}

@font-face {
    font-family: "Victor Mono";
    font-style: italic;
    src: url('/static/VictorMono-MediumItalic.ttf');
}

body {
    background-color: var(--bg);
    color: var(--primary);
    font-family: var(--font);
    margin: 0 auto;
    max-width: 60em;
    padding: 1em;
}

.asn {
    color: #8eff32;
}

.mnt {
    color: #ff2465;
}
