:root {
    --bg: #0b0f0d;
    --dark-structural: #112019;
    --structural: #182e23;
    --light-structural: #2d5541;
    --primary: #9de7bd;
    --secondary: #e5ffb5;
    --tertiary: #efe;

    --font: "DINish", sans-serif;
    --monospace-font: "Fragment Mono", monospace;
}

@font-face {
    font-family: 'DINish';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/static/dinish-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'DINish';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/static/dinish-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'DINish';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/static/dinish-bold.woff2') format('woff2');
}

@font-face {
    font-family: "Fragment Mono";
    font-style: normal;
    font-display: swap;
    src: url('/static/FragmentMono-Regular.ttf') format('woff2');
}

@font-face {
    font-family: "Fragment Mono";
    font-style: italic;
    font-display: swap;
    src: url('/static/FragmentMono-Italic.ttf') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--primary);
    font-family: var(--font);
    margin: 0 auto;
    max-width: 60em;
    padding: 1em;
    font-size: 1.1em;
}

nav {
    margin: 1em 0;
}

.navitem:first-child {
    border-radius: 1em 0 0 1em;
    padding: 0.1em 0.5em 0.1em 0.8em;
}

.navitem:last-child {
    border-radius: 0 1em 1em 0;
    padding: 0.1em 0.8em 0.1em 0.5em;
}

.navitem {
    background-color: var(--dark-structural);
    padding: 0.1em 0.5em;
    margin-left: 1px;
    text-decoration: none;
}

nav > a.navitem {
    color: var(--primary);
}

.navitem:hover, button:hover, input[type="color"]:hover, select:hover {
    background-color: var(--primary);
    color: var(--bg);
}

.current-navitem {
    background-color: var(--light-structural);
    cursor: default;
}

header {
    text-align: center
}

header > h1 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--tertiary);
}

hr {
    height: 0;
    border: 1px dashed var(--structural);
}

footer > hr {
    margin: 0;
}

a:any-link {
    color: var(--secondary);
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

a:hover {
    color: var(--tertiary);
}

@media (min-width: 70em) {
    .left-pet {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

.admin-login {
    display: flex;
    gap: 1em;
    flex-direction: column;
    max-width: 15em;
    margin: 5em auto;
}

.admin-login > button {
    margin: 1em auto 0;
    width: fit-content;
    padding: 0.75em 2em;
}

input, textarea, button, select {
    background-color: var(--dark-structural);
    padding: 0.75em;
    border-radius: 0.5em;
    border: none;
    color: var(--primary);
    font-family: var(--monospace-font);
    letter-spacing: -1px;
    font-size: 0.9rem;
}

button, select, input[type="file"]::file-selector-button {
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: var(--light-structural);
}

input[type="file"] {
    background: var(--structural);
    padding: 0.5em;
}

input[type="file"]::file-selector-button {
    color: var(--primary);
    background-color: var(--dark-structural);
    border: 1px dashed var(--light-structural);
    font-family: var(--monospace-font);
    letter-spacing: -1px;
    border-radius: 0.5em;
    padding: 0.5em;
}

input[type="file"]::file-selector-button:hover {
    color: var(--bg);
    background-color: var(--primary);
}

footer > p {
    margin: 0;
    padding: 0.5em;
    text-align: right;
    color: var(--light-structural);
}

.board-name {
    display: inline-block;
}

.date-picker {
    margin: 1em 0 1em auto;
    display: flex;
    align-items: center;
    max-width: 15em;
    gap: 0.5em;
}

.date-picker > button {
    flex: 1;
}

summary {
    cursor: pointer;
}

details {
    padding: 1em;
}

.post-form > textarea {
    margin-top: 1em;
    width: 100%;
}

.post-form > input {
    margin: 1em 0;
}

.post-form > button {
    display: block;
    margin: 0 0 0 auto;
}

textarea {
    box-sizing: border-box;
    font-size: 0.8em;
    resize: vertical;
}

.http-error {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1em;
    height: 100%;
    top: 0;
    justify-content: center;
    padding-left: 5%;
}

.error-code {
    font-size: 8rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.error-name {
    font-size: 4rem;
    font-weight: normal;
}

.flash {
    display: block;
    margin-top: 1em;
}

.logout {
    text-align: right;
}

.edit-board {
    background-color: var(--dark-structural);
    border-radius: 0.5em;
    margin: 1em auto;
    max-width: 50em;
    padding: 1em;
}

.edit-board > form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.edit-board button, .edit-board input, .edit-board textarea {
    background-color: var(--bg);
}

.edit-board button:hover, .edit-board input[type="color"]:hover {
    background-color: var(--primary);
}

.form-buttons {
    text-align: right;
}

.delete-button:hover {
    background-color: #ff4980;
}

.name-and-color {
    display: flex;
    gap: 0.5em;
    height: 2.5em;
}

.name-and-color > * {
    box-sizing: border-box;
    height: 100%;
}

.name-and-color input[type="text"] {
    flex: 1;
}

.post {
    margin-bottom: 1em;
}

.post img {
    max-height: 12rem;
}

.post-header {
    font-family: var(--monospace-font);
    letter-spacing: -1px;
    background-color: var(--structural);
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-header > form {
    margin-left: auto;
}

.post-header > form > button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    font-size: 1rem;
}

.post-content {
    padding: 1em;
    background-color: var(--dark-structural);
    border-radius: 0 0 0.5em 0.5em;
}

.post-asn {
    color: #caff6e;
}

.post-mnt {
    color: #ff4980;
}

.post-time {
    color: #7ed2ff;
}

.post-ip {
    color: #a98dff
}

.post-id {
    color: #fff274;
}

.img-container {
    overflow-x: auto;
}

