<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %} ~ zhaba - the home of dn42 shitposts</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>{% block title %}{% endblock %}</h1>
        <small>{% block description %}{% endblock %}</small>
        <nav>
            <a class="navitem {% block boards_navitem %}{%- endblock -%}" href="/">boards</a><a class="navitem {%- block about_navitem -%}{%- endblock -%}" href="/about">about</a>
        </nav>
    </header>
    <hr>
    {% block content %}{% endblock %}
    <footer>
        <img src="/static/pixel-cat.png" alt="pixel cat jumping" class="left-pet">
        <hr>
        <p>powered by <a href="https://git.lemonsh.moe/C4TG1RL5/zhaba">zhaba</a></p>
    </footer>
</body>
</html>