{% extends "base.html" %}

{% block title %}/{{ board.name }}/{% endblock %}
{% block description %}{{ board.description }}{% endblock %}

{% block content %}
{% include "flash.html" %}
<details>
    <summary>Add post</summary>
    <form class="post-form" method="post" enctype="multipart/form-data" action="/{{ board.name }}/post">
        <textarea name="content" placeholder="post content..."></textarea><br>
        <label for="image">Attach an image (optional):</label>
        <input type="file" accept="image/*" name="image" id="image">
        <br>
        <button>Post</button>
    </form>
</details>
<hr>
<form class="date-picker">
    <span>Date:</span>
    <select name="y" id="year">
        {% let current_year = Utc::now().year() %}
        {% for i in STARTING_YEAR..=current_year %}
            <option value="{{ i }}" {% if i == year %}selected{% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
    <select name="m" id="month">
        {% for i in 1..12 %}
            <option value="{{ i }}" {% if i == month %}selected{% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
    <button>go</button>
</form>

{% for post in posts %}
<div class="post">
    <div class="post-header">
        <span class="post-id">#{{ post.id }}&ensp;</span>
        <span class="post-time">{{ post.time }}&ensp;</span>
        <span class="post-ip">{{ post.ip }}&ensp;</span>
        {% match post.whois %}
        {% when Some with (whois) %}
        <span class="post-mnt">{{ whois.mnt }}&ensp;</span>
        <span class="post-asn">AS{{ whois.asn }}</span>
        {% when None %}
        {% endmatch %}
        {% if admin.is_some() %}
        <form action="/admin/post/{{ post.id }}/delete" method="post">
            <button class="delete-button">×</button>
        </form>
        {% endif %}
    </div>
    <div class="post-content">
        {% if let Some(filename) = post.image %}
        <a href="/img/{{ filename }}" target="_blank"><img src="/img/{{ filename }}" alt="attachment"></a>
        {% endif %}
        {{ post.content|safe }}

    </div>
</div>
{% endfor %}

{% endblock %}
