{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<details>
    <summary>Add post</summary>
    <form action="/" method="post" enctype="multipart/form-data">
        <textarea name="content"></textarea><br>
        <label for="image">Attach an image (optional):</label>
        <input type="file" accept="image/*" name="image" id="image"></label>
        <br>
        <button>click to shitpost</button>
    </form>
</details>

<ul>
    {% for post in posts %}
        <li>
            {{ post.id }}, {{ post.time }}, {{ post.ip }}:<br>
            {% match post.whois %}
                {% when Some with (whois) %}
                    {{ whois.asn }}, {{ whois.mnt }}<br>
                {% when None %}
            {% endmatch %}
            {{ post.content }}
            {% if let Some(filename) = post.image %}
                <br><img src="/img/{{ filename }}">
            {% endif %}
            <br><br>
        </li>
    {% endfor %}
</ul>
{% endblock %}
