{% extends "base.html" %}

{% block title %}{{ board.name }}{% endblock %}

{% block content %}
{% include "flash.html" %}
<details>
    <summary>Add post</summary>
    <form method="post" enctype="multipart/form-data">
        <textarea name="content"></textarea><br>
        <label for="image">Attach an image (optional):</label>
        <input type="file" accept="image/*" name="image" id="image">
        <br>
        <button>click to shitpost</button>
    </form>
</details>

{% for post in posts %}
<li>
    {{ post.id }}, {{ post.time }}, {{ post.ip }}:<br>
    {% match post.whois %}
        {% when Some with (whois) %}
            {{ whois.asn }}, {{ whois.mnt }}<br>
        {% when None %}
    {% endmatch %}
    {{ post.content }}
    {% if let Some(filename) = post.image %}
        <br><img src="/img/{{ filename }}" alt="attachment">
    {% endif %}
    <br><br>
</li>
{% endfor %}

{% endblock %}
