{% extends "base.html" %}

{% block title %}{{ board.name }}{% endblock %}

{% block content %}
{% include "flash.html" %}
<details>
    <summary>Add post</summary>
    <form method="post" enctype="multipart/form-data" action="post">
        <textarea name="content"></textarea><br>
        <label for="image">Attach an image (optional):</label>
        <input type="file" accept="image/*" name="image" id="image">
        <br>
        <button>click to shitpost</button>
    </form>
</details>

<form>
    <label for="year">Year</label>
    <select name="y" id="year">
        {% let current_year = Utc::now().year() %}
        {% for i in STARTING_YEAR..=current_year %}
            <option value="{{ i }}" {% if i == year %}selected{% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
    <label for="month">Month</label>
    <select name="m" id="month">
        {% for i in 1..12 %}
            <option value="{{ i }}" {% if i == month %}selected{% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
    <button>lessgo</button>
</form>

{% for post in posts %}
<li>
    {{ post.id }}, {{ post.time }}, {{ post.ip }}:<br>
    {% match post.whois %}
        {% when Some with (whois) %}
            {{ whois.asn }}, {{ whois.mnt }}<br>
        {% when None %}
    {% endmatch %}
    {{ post.content|safe }}
    {% if let Some(filename) = post.image %}
        <br><img src="/img/{{ filename }}" alt="attachment">
    {% endif %}
    <br><br>
</li>
{% endfor %}

{% endblock %}
